*{
    list-style: none;
}
.sendEmail{
    display: flex;
    flex-direction: row;

}
.send{
    padding: 0 30px;
    background-color: rgb(216,227,213);
    border: none;
    border-bottom: 1px solid gray;
}
.footer{
    margin-top: 50px;
    padding: 60px 0;
    background-color:rgb(224,236,220) ;
    width: 100%;
}
.footerList{
    width: 50%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.listTitle{
   font-size: 30px;
}
li{
    color:  rgb(27,116,94);
}